<div class="container">
<%= link_to 'Добавить новость', new_administrators_message_path, class: 'btn btn-primary' %>
  <h4 class="text-center">Новости</h4>
  <p id="notice"><%= notice %></p>
  <table class="table table-bordered table-hover">
   
    <thead>
      <tr>
        <th>Дата</th>
        <th>Название</th>
        <th>Короткое описание</th>
        <th>Текст новости</th>
        <th>Картинка</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
       <% @messages.each do |message| %>
      <tr>
        <td><%= message.created_at.strftime("%d.%m.%Y, %H:%M") %></td>
        <td><%= message.title %></td>
        <td><%= message.article %></td>
        <td><%= strip_tags(message.description) %></td>
        <td><%= image_tag(message.picture, class: 'ex1') %></td>
        <td>
          <%= link_to 'Редактировать', edit_administrators_message_path(message), class: 'btn btn-success' %>
          <%= link_to 'Удалить', administrators_message_path(message), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
     