<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :name, class: 'form-control input-sm', placeholder: 'Имя' %>
  </div><br/>
  <div class="field">
    
    <%= f.text_field :email, class: 'form-control input-sm', placeholder: 'Email' %>
  </div><br/>
  <div class="field">
    
    <%= f.text_field :phone, class: 'form-control input-sm', placeholder: 'Телефон' %>
  </div><br/>
  <div class="field">
   
    <%= f.text_area :body, class: 'form-control input-sm', placeholder: 'Сообщение' %>
  </div><br/>
  <p id="notice"><%= notice %></p>
  <div class="actions">
    <%= f.submit 'Отправить', class: "btn btn-default btn-sm" %>
  </div>
<% end %>