<%= form_for([:administrators, @album], :multipart => true ) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h5>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <b>Название альбома</b><br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Название альбома' %>
  </div>
  <br/>  
  <div class="field">
    <b>Обложка альбома</b><br>
    <%= f.file_field :cover %>
  </div>
  <br/>
  <img src="<%= @album.cover.normal %>">
  <br/>  
  <div class="actions">
    <%= f.submit 'Сохранить', class: 'btn btn-success' %>
  </div>
<% end %> 