<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Админка</title>
    <%= stylesheet_link_tag    'administrators', media: 'all' %>
    <%= javascript_include_tag 'administrators' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'ckeditor/ckeditor.js' %>

        <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//unslider.com/unslider.js"></script>
  </head>
  <body>
  	  <script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});</script>
    <nav class="navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/administrators/dasboard">На главную</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Альбомы", administrators_albums_path(@album) %></li>
        <li><%= link_to "Фото", administrators_photos_path(@photo) %></li>
        <li><%= link_to "Меню", administrators_menus_path(@menu) %></li>
        <li><%= link_to "Категории(меню)", administrators_menu_items_path(@menu_item) %></li>
        <li><%= link_to "Новости", administrators_messages_path(@message) %></li>
        <li><%= link_to "Отзывы", administrators_reviews_path(@review) %></li>
        <li><%= link_to "Сообщения", administrators_comments_path(@comment) %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Добавить <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "+ Меню", new_administrators_menu_path(@menu) %></li>
            <li><%= link_to "+ Позицию меню", new_administrators_menu_item_path(@menu_item) %></li>
            <li><%= link_to "+ Альбом", new_administrators_album_path(@album) %></li>
            <li><%= link_to "+ Фото", new_administrators_photo_path(@photo) %></li>
            <li><%= link_to "+ Новость", new_administrators_message_path(@message) %></li>
          </ul>
        </li>
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
      	<% if administrator_signed_in? %>
        <li><a><%= current_administrator.email %></a></li><li><%= link_to 'Sign out', destroy_administrator_session_path, method: :delete %>
        <% else %>
	        <%= link_to 'Sign in', new_administrator_session_path %> 
	      <% end %>
	      </li>
        	<% if @error && @error.length > 0 then %>
		        <div class="alert alert-danger"><%= @error %></div>
	        <% end %>
	      <!--log in  and log out -->
	      
	  

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>
  </body>
</html>
